.img-container {
    display: inline-block;
    overflow: hidden;
    background-color: white;
    margin-right: 4px;
    margin-left: 4px;
}

/* .hover img {
    margin-left: 10px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover img:hover {
    margin-left: -30px;
} */